.categoryShimmerMainContainer {
  padding: 30px 0;
  background: rgb(239, 239, 239);
}
.categoryShimmerMainContainer h2 {
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: lighter;
}

.categoryShimmerItemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.categoryShimmerItem {
  margin: 0 5px;
}
.categoryShimmerThumbnail {
  width: 100%;
}
