.loginContentMainContainer {
    width: 100%;
    padding: 7px;

}
.loginContentMainContainer h5 {
    margin-bottom: 25px;
    text-align: center;
    text-transform: capitalize;
}

.loginContentContainer {
    padding: 5px;
    display: flex;
    align-items: stretch;
}
.loginContentRight {
    flex: 1;
    padding: 30px 15px; 
    
}

.loginOrRegisterOption {
    display: flex;
    align-items: center;
    font-size: 15px;
    text-transform: capitalize;
    margin-bottom: 15px;

}

.loginOrRegisterOption a {
    color: #0c339d;
    margin-left: 5px;
    text-transform: capitalize;
}

@media(max-width: 750px) {
    .loginContentContainer {
        flex-direction: column-reverse;
    }
    .loginOrRegisterOption {
        margin: 10px;
    }
    .loginContentRight {
        padding: 7px; 
        
    }
}

