.cartItemImage {
  width: 70px;
  height: 70px;
  object-fit: scale-down;
  margin: 0 2px;
}
.cartItemCheck {
  height: 20px;
  width: 20px;
  margin: 0 2px;
}
.cartItemTitle {
  margin: 0 2px;
  font-weight: lighter;
  font-size: 14px;
}
.cartItemPrice {
  margin: 0 2px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #0606ce;
}
.cartItemLink {
  text-decoration: none;
  color: black;
}

.cartQuantityContainer {
  display: flex;
  align-items: center;
}

.cartQuantityContainer input {
  width: 50px;
  text-align: center;
  padding: 7px;
}

.cartQuantityContainer input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.cartQuantityContainer input[type="number"] {
  -moz-appearance: textfield;
}

/* right */

.cartContentSubTotal,
.cartContentTotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0;
}

.cartContentRight,
.cartContentLeft {
  background: #fff;
  padding: 10px;
  margin: 2px;
}

.cartContentTotal p {
  color: #5e5e5e;
  display: flex;
  align-items: center;
}

.fixedCartSummary {
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3000;
  background: #fff;
  box-shadow: -2px -2px 5px rgba(0, 0, 0, 0.3);
}

.fixedCartSummaryLeftSubtotal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 7px 0;
  font-weight: lighter;
}
.fixedCartSummaryRight {
  margin-top: 7px;
}
.fixedCartSummaryPrice {
  color: #0606ce;
}

.fixedCartSummaryMainContainer {
  display: none;
}

@media (max-width: 700px) {
  .fixedCartSummaryMainContainer {
    display: block;
  }
}

@media (max-width: 900px) {
  .cartItemTitle {
    font-size: 14px;
  }
  .cartItemImage {
    width: 75px;
    height: 75px;
  }
}
