

.navLink {
    font-size: 14px;
    font-weight: bolder;
    text-decoration: none;
    padding:  12px;
    color: #212121;
    border-radius: 12px;
}
.navLink::before {
    opacity: 0.3;
}

.navLink:hover {
    background: #e3f2fd;
}

@media(max-width: 800px) {
.navLink {
    font-size: 12px;
    padding: 10px;
}
}
@media(max-width: 600px) {
    .navLink {
        font-size: 10px;
        padding: 5px;
    }
    }