.scrollToTopContainer {
  position: fixed;
  right: 10px;
  bottom: 30px;
  z-index: 1000;
}
.scrollToTopFab {
  background: rgb(11, 46, 221) 8%;
  color: #fff;
}

.scrollToTopFab:hover {
  background: #0404aa;
}

@media (max-width: 850px) {
  .scrollToTopContainer {
    bottom: 70px;
  }
}
