.searchBarContent {
    width: 75%;
    border: 1px solid #8a7ce5;
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin: auto;
}

.searchBarContent .searchBarInput {
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.searchBarInput:focus .searchBarContent {
    outline: 3px solid #3a18c5;

}

 .searchBarBtn {
    padding: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    border: 0;
    outline: 0;
    background: #3a18c5;
    color: #f3f3f3;
    height: 100%;
}
.searchBarBtn:hover {
    background: #3d3086;
}


@media(max-width: 850px) {
    .searchBarContent {
        width: 90%;
        margin: auto;
    }

     .searchBarInput {
        font-size: 12px;
        padding: 5px;

    }
 .searchBarBtn {
    font-size: 12px;
    padding: 5px;
 }
}