.categoriesMainContainer {
    margin: 20px 0;
}
.categoriesMainContainer h2 {
    font-weight: 500;
    margin-bottom: 20px;
}
.allCategoryContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: stretch;
    grid-gap: 1px;
}
.allCategoryItem {
    padding: 5px;
    width: 97%;
    height: 100%;
    margin: auto;
    background: #2c2656;
    color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 12px;
}

.allCategoryItem:hover {
    background: #e3f2fd;
    color: #2c2656;
}

.categoryItemActive {
    background: #fdb001;
    color: #2c2656;
}