.categoriesMainContainer {
  padding: 30px 0;
  background: rgb(239, 239, 239);
}
.categoriesMainContainer h2 {
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: lighter;
}

.categoryItemsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.categoryItem {
  background: white;
  box-shadow: 1px 1px 3px lightgray;
  text-decoration: none;
  padding: 20px 7px;
  text-align: center;
  margin: 1px;
  color: black;
}
.categoryItem:hover {
  box-shadow: 2px 2px 5px darkgray;
}

.categoryItem h6 {
  font-weight: lighter;
}

/* @media (max-width: 850px) {
  .categoriesMainContainer {
    padding: 0px;
  }
} */
