.allProductItemContainer {
  background: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 5px lightgrey;
  text-decoration: none;
  color: black;
  padding: 7px;
  width: 100%;
  margin: 7px;
  overflow: hidden;
}

.allProductItemContainer:hover {
  box-shadow: 4px 4px 10px darkgrey;
}

.allProductItemImage {
  width: 100%;
  height: 100px;
  object-fit: cover;
  margin-bottom: 7px;
}

.allProductItemTitle {
  margin-bottom: 15px;
  font-weight: lighter;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.allProductItemPrice {
  margin-bottom: 3px;
  color: #2929f3;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.allProductItemPrice span {
  margin-left: 5px;
}

@media (max-width: 600px) {
  .allProductItemImage {
    height: 100px;
  }
  .allProductItemTitle {
    margin-bottom: 10px;
  }
}

@media (max-width: 375px) {
  .allProductItemTitle {
    margin-bottom: 7px;
  }
}
