.profileDetailContainer {
  display: flex;
  align-items: stretch;
}

.profileDetailLeft,
.profileDetailRight {
  flex: 1;
  margin: 7px;
  background: #fff;
  padding: 10px;
  box-shadow: 2px 2px 5px lightgray;
}

@media (max-width: 900px) {
  .profileDetailContainer {
    flex-direction: column;
  }
}
