@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
    --primary-color: linear-gradient(90deg, rgb(12 2 98) 8%, rgb(21 51 118 / 90%) 100%);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    position: relative;
   
}
.app {
    min-height: 100vh;
    background-image: linear-gradient(45deg,rgb(164, 156, 238), #f2f2f2,#f2f2f2,#f2f2f2, rgb(159, 150, 241));
    padding-bottom: 600px;
}

@media(max-width: 900px) {
    .app {
        padding-bottom: 850px;
        
    }
}