@import "~react-image-gallery/styles/css/image-gallery.css";
:root {
    --primary-color: rgb(12 44 201) 8%;
    --text-color: rgb(12 44 201);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    position: relative;
   
}
.app {
    min-height: 100vh;
    background: #e7e7e7;
    padding-bottom: 600px;
}

@media(max-width: 900px) {
    .app {
        padding-bottom: 850px;
        
    }
}