.shippingDetailsContainer {
  padding: 20px 10px;
  font-size: 12px;
  overflow-x: auto;
}
.shippingDetailsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .shippingDetailsContainer {
    padding: 10px 0;
  }
}
