.productDesContainer {
  padding: 10px;
}

.productDesContentTop {
  display: flex;
  /* align-items: stretch; */
  margin-bottom: 20px;
}
.productDesContentTopRight {
  flex: 1;
  padding: 10px 20px;
}
.productDesContentTopRight p {
  margin: 15px 0;
  padding: 5px 0;
}
.productDesContentTopRight h6 {
  margin: 10px 0;
}
.productDesContainer .specs {
  margin: 10px 0;
}
.productDesContainer .spec {
  background: #f5f4f4;
  padding: 15px 10px;
  margin: 10px 0;
  display: flex;
  align-items: stretch;
}
.productDesContainer .spec-left {
  flex: 1;
}

.productDesContainer .spec-left div {
  display: flex;
  align-items: center;
}
.productDesContainer .spec-left div p {
  font-weight: lighter;
  margin-left: 10px;
  text-transform: lowercase;
}

.productDesContainer .spec-right small {
  display: block;
  margin: 10px 0;
}
.productDesContainer p {
  font-weight: lighter;
  text-transform: capitalize;
  margin: 10px 0;
}
.productDesContentTopRight h6 {
  text-transform: capitalize;
}

.productDesQty {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.productDesQty p {
  margin-right: 15px;
}
.productDesPrice {
  display: flex;
  align-items: center;
  padding: 10px 0;
  color: rgb(12 44 201);
  font-weight: bold;
}
.productDesPrice p {
  font-size: 24px;
}
.productDesDetails {
  padding: 0 30px;
  margin-bottom: 20px;
  font-weight: lighter;
}
.productDesAction {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.productDesAction button {
  margin: 0 3px;
}

@media (max-width: 1000px) {
  .productDesContentTop {
    flex-direction: column;
  }
  .productDesPrice p {
    font-size: 20px;
  }

  .productDesContainer h6 {
    font-size: 22px;
  }
  .productDesContentTopRight {
    flex: 1;
    padding: 10px;
  }
}

@media (max-width: 600px) {
  .productDesContainer .spec {
    flex-direction: column;
    align-items: flex-start;
  }

  .productDesContentTopRight h6 {
    font-size: 18px;
  }
  .productDesDetails {
    padding: 0 25px;
  }
  .productDesQty {
    padding: 0 25px;
  }
  .productDesAction {
    padding: 0 25px;
  }
}

@media (max-width: 330px) {
  .productDesAction {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 17px;
  }
  .productDesAction button {
    margin: 5px 0px;
  }
  .productDesDetails {
    padding: 0 17px;
  }
  .productDesQty {
    padding: 0 17px;
  }
}
