.DmContentContainer {
  margin: 20px 0;
  background: #fff;
  height: 500px;
  display: flex;
  align-items: stretch;
}
.DmContentLeft {
  width: 300px;
  background: #cfd8dc;
  padding: 0;
  background: url(../../assets/chat-bg-5.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.DmContentRight {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.DmContentRightProduct {
  display: flex;
  align-items: center;
  padding: 7px 10px;
  color: #1565c0;
  text-decoration: none;
}
.DmContentRightProduct p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.DmContentRightProduct img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 15px;
}
.DmContentRighChatMessagesContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  background: url(../../assets/chat-bg-4.jpg);
  background-position: center center;
  background-repeat: no-repeat;

  background-size: cover;

  /* background: white; */
}

.DmContentChatMessage {
  padding: 5px 10px;
  margin: 15px 7px;
  max-width: 50%;
  width: fit-content;
  background: #ca0960;
  color: white;
}
.DmContentChatMessage.left {
  align-self: flex-start;
  color: white;
  background: #ca0960;
}
.DmContentChatMessage.right {
  background: #1565c0;
  align-self: flex-end;
  color: white;
}
.newMsgLine {
  height: 2px;
  background: #d50000;
  margin: 10px 0;
  position: relative;
}
.newMsgLine h6 {
  background: white;
  width: fit-content;
  color: #d50000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
}

.DmContentContainer.mobile {
  display: none;
}

@media (max-height: 600px) {
  .DmContentContainer {
    height: 400px;
  }
}

@media (max-width: 750px) {
  .DmContentLeft {
    width: 200px;
  }
}

@media (max-width: 650px) {
  .DmContentContainer {
    display: none;
  }
  .DmContentContainer.mobile {
    display: flex;
  }

  .DmContentLeft.mobile {
    flex: 1;
  }
  .DmContentRight.mobile {
    flex: 1;
  }
  .DmContentRightProduct.mobile {
    justify-content: space-between;
    text-decoration: none;
  }
  .DmContentRightProduct.mobile div {
    display: flex;
    align-items: center;
  }
  .DmContentRightProduct.mobile div p {
    margin-left: 10px;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .DmContentRightProduct.mobile img {
    width: 40px;
    height: 40px;
  }
  .DmContentRightProduct.mobile a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #1565c0;
    font-size: 12px;
  }
}
